.Contenedor{
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.App {
  width: 50%;
  height: 100%;
  text-align: center;
}
.Barra{
  height: 100px;
  background-color: #dff4ed;
  border-bottom: 1px solid;

  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.Barra img{
  width: 80px;
  height: auto;
}
.Contenido{
  display: flex;
  flex: 1;
  min-height: 0;
  background-color: #d3eded;
}
.Panel{
  width: 50%;
  overflow-y: auto;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.almacendeposts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.posts{
  background-color: none;
}
.titulo{
  text-align: center;
}

.imagenMascota img{ 
  width: 160px;
  height: 160px;
  object-fit: cover;
  display: block;
  margin: auto;

}
.imagenMascota button{
  display: block;
  margin: auto;
  padding: auto;
  cursor: pointer;
}

.botonAnimal{
  background: none;
  border: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
